*{margin:0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box; }
@function rem($a){
  @return ($a/37.5)+rem
}

@keyframes circle{0% {transform: rotate(0deg); } 100% {transform: rotate(360deg); } }
.bgCover {
  background: transparent url(http://os71std62.bkt.clouddn.com/wangjie.jpg) no-repeat center;
  background-size: auto;
  overflow: hidden;
}
.page{
  display:flex;
  flex-direction: column;
  height: 100%;
  background: rgba(0,0,0,0.6);

  .disc-container{
    position:relative;

    .pointer{
      position: absolute;
      left: 50%;
      top: 0;
      width: rem(96);
      height: rem(137);
      z-index: 5;
      transform: translate3D(-18%,0,0);
    }
    .disc{
      width: rem(296);
      height: rem(296);
      margin-top: rem(70);
      margin-left: auto;
      margin-right: auto;
      position:relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-wrapper{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate3D(-50%,-50%,0);
        z-index: 8;
        width: rem(56);
        height: rem(56);
        background: rgba(0,0,0,0.5);
        border: rem(1) solid white;
        border-radius: 50%;
        display:flex;
        justify-content: center;
        align-items: center;
        svg{

          display:none;
          width: 50%;
          height: 50%;
          fill: white;

        }
        .svgActive{
          display: block;
        }
      }
      .ring{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate3D(-50%,-50%,0);
        width: 100%;
        z-index: 2;
      }
      .light{
        position: absolute;
        width: 100%;
        z-index: 3;
        animation: circle 20s infinite linear;
        animation-play-state: paused;
        //animation: circle 20s infinite linear;

      }
      .cover{
        width: rem(184);
        height:rem(184);
        z-index: 1;
        animation: circle 20s infinite linear;
        animation-play-state: paused;
      }
      .animationActive{
        animation-play-state: running;

      }
    }
  }
  .song-description{
    flex-grow: 1;
    margin-top: rem(25);
    h1{
      font-weight:normal;
      text-align: center;
      color: white;
      overflow: hidden;
      font-size:rem(22);
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: rem(22);

    }
    .lyric{
      height: rem(110);
      margin-top: rem(14);
      margin-bottom:rem(30);
      margin-left:auto;
      margin-right: auto;
      width:rem(296);
      overflow: hidden;
      .lines{
        display:flex;
        flex-direction:column;
        transition: all 0.5s;
        flex-shrink: 1;
        transform: translateY(0);
        span{
          display:block;
          flex-grow:1;
          font-size: rem(17);
          line-height: rem(30);
          text-align: center;
          color: #ccc;
          padding: rem(4);
        }
        .lyricActive{
          color: white;
        }
      }
    }

  }
  .links{
    height: rem(36);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(40);
    a{
      border: rem(1) solid #D43C33;
      background: transparent;
      font-size: rem(15);
      color: #D43C33;
      height: 100%;
      width: rem(146);
      margin: 0 rem(6);
      text-align: center;
      text-decoration: none;
      line-height:rem(36);
      border-radius: rem(6);
    }
    .main{
      background: #D43C33;
      color:white;
    }
  }
}
/*
.page{display: flex; flex-direction: column; height: 100vh;
  background: transparent url(http://os71std62.bkt.clouddn.com/wangjie.jpg) no-repeat center;
  background-size: cover;
}

.disc-container{position: relative; }
.disc-container .icon-wrapper{position: absolute; z-index: 1; display: flex;
  justify-content: center; align-items: center;
  border: 1px solid white; height: 20vw; width: 20vw;
  border-radius: 50%; background: rgba(0,0,0,0.5);
}
.disc-container .icon {width: 10vw; fill: white;}
.disc-container .pointer{width: 24vw; position: absolute; left: 45vw; }
.disc-container .disc{display: flex; justify-content: center; align-items: center; margin-top: 18vw; }
.disc-container .ring{width: 72vw; }
.disc-container .light{width: 72vw; position: absolute; }
.disc-container .cover{width: 44.5vw; position: absolute; border-radius: 50%;
  animation: circle 20s infinite linear;
  animation-play-state: paused;
}
.disc-container.playing .light,
.disc-container.playing .cover{
  animation-play-state: running;
}

.disc-container .icon-pause{display: none; }
.disc-container.playing .icon-pause{display: block; }
.disc-container.playing .icon-play{display: none; }

.song-description{
  flex-grow: 1;
  color: #AEABAC;
  text-align: center;
  line-height: 2;
  margin-top: 20px;
}
.song-description h1{
  color: white;
  font-size: 18px;
}
.song-description p{
  font-size: 14px;
  line-height: 24px;
}
.song-description .lines{
  transition: transform 0.3s;
}
.song-description .lyric{
  height: 72px;
  overflow: hidden;
}
.song-description p.active{
  color: white;
}

.page > .links{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D43B32;
}
.page > .links > a{
  width: 38.5vw;
  margin: 1em;
  text-align: center;
  border: 1px solid #D43B32;
  background: transparent;
  padding: 1.5vw;
  color: inherit;
  text-decoration: none;
  border-radius: 1.3vw;
  letter-spacing: 1vw;
}
.page > .links > a.main{
  background: #D43B32;
  color: white;
}*/